html {
    font-size: 16px;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Generic Classes */

.weight-bold {
    font-weight: bold;
}

.text-dark {
    color: #6b6b6b
}

.underline-hover:hover {
    text-decoration: underline;
}

.btn {
    width: 2.2rem;
    height: 2.2rem;
    color: #6b6b6b;
    border-radius: 100%;
    transition: background-color ease .2s;
}
.btn:hover {
    color: #1d9bf0;
    background-color: #1d9bf030;
}
.btn .icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}

/* Custom Classes */

.timeline {
    display: flex;
    flex-direction: column;
}

.tweet {
    display: flex;
    gap: 0.9rem;
    padding: 1rem;
}

.tweet .profile-image {
    width: 2.5rem;
    max-width: none;
    border-radius: 100%;
}

.tweet .tweet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}